<!doctype html>
<html>

<head>
</head>

<body>
        <h1>{{xxx}}</h1>
        <h3>aaabbbccc</h3>
        <div id="aaa"></div>

        <!-- D3.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

        <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        Plotly.plot('aaa', // the ID of the div, created above
                    graphs.data,
                    graphs.layout || {});
        </script>

</body>

</html>